@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* #7E60BF purple ni*/ 

body {
    min-height: 90vh;
    background-color: #c0d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9f1ff);
}

.header {
    display: flex; 
    background: #ffffff;
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    height: 3rem; 
    padding: 0 1.5rem; 
    position: fixed; 
    top: 0;
    /* z-index: 1000;  */
}

.user-account {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.user-account .user-profile {
    display: flex;
    align-items: center;
    color: #176B87;
}

.user-account img{
    width: 30px;
    border-radius: 50%;
}

.user-account h3 {
    font-size: 0.8rem;
    font-weight: 500;
}

.user-detail {
    margin-left: 10px;
    white-space: nowrap;
}

.user-account span{
    font-size: 0.6rem;
    font-weight: 500;
    display: block;
    margin-top: 0;
}

.sidebar:hover .user-account{
    background: #ffffff2d;
    border-radius: 4px;
}

.sidebar-header img {
    width: 42px;
    border-radius: 50%;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 85px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background:#176B87;
    padding: 25px 20px;
    transition: all 0.4s ease;
}

.sidebar:hover{
    width: 260px;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header h3{
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    margin-left: 23px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 70%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links h4 span{
    opacity: 0;
}

.sidebar:hover .sidebar-links h4 span{
    opacity: 1;
}

.sidebar-links h4{
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
    white-space: nowrap;
    position: relative;
}

.sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #12556b;
    transform-origin: right;
    transition-duration: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator{
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #dbd4d4e3;
    font-weight: 500;
    padding: 15px 10px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 0.8em;
}

.sidebar-links li a:hover {
    background: #ffffff2d;
    color: #fff;
    border-radius: 15px;
}

.sticky-header h4 {
    font-size: 1.25rem;
    color: #176B87;
    margin-bottom: 15px;
}

.main-content {
    background-color: #ffffff;
    max-height: 85vh;
    width: 85%; 
    overflow: hidden; 
    border-radius: 15px;
    margin-left: 10%; 
    margin-top: 6%;
    padding: 20px;
    transition: margin-left 0.4s ease;
}


.sidebar:hover + .main-content {
    margin-left: 280px; 
}




/* Responsive adjustments */
@media (max-width: 430px) {
    .main-content {
        margin-left: 0;
    }

    .main-content h2, .main-content h4 {
        font-size: 1.25rem;
    }
}


@media (max-width: 768px) {
    .main-content {
        margin-left: 85px;
        margin-top: 8%;
    }

    .sidebar {
        width: 60px;
    }

    .sidebar:hover {
        width: 200px;
    }

    .reports-table {
        min-width: 800px;
    }
}



/* calendar design */


.main-content {
    margin: 145px;
}
.calendar-container {
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.calendar-header button {
    background: #41b5eb;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.calendar-header button:hover {
    background:  #54d0e0;;
}
.calendar-header h3 {
    margin: 0;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
   
}
.calendar-cell {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 4px;
}

.day-header { 
    background: #4a9fb9;
    color: white;
    padding: 5px 0;
    text-align: center;
    border-radius: 3px;
    font-size: small;
}
.appointment-details {
    /* margin-top: 5px; */
    background: #e7f4ff;
    /* padding: 5px; */
    border-radius: 4px;
    font-size: x-small;
    text-align: center;
    cursor: pointer;
    
}



    /* Modal Styling */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fff;
        margin: 10% auto; /* Centers the modal */
        padding: 35px;
        border-radius: 5px;
        width: 350px; /* Fixed small size (small screen or dako)*/
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #appointment-details p {
        margin: 10px 0;
        line-height: 1.6;
      
    }

    
h3{
    color: #12556b;
}
